.App {
  min-height: 100vh;
  transition: all 0.3s ease;
}

.App.dark {
  background-color: black;
  color: #fafafa;
}

.App.light {
  background-color: white;
  color: #171717;
}

body {
  margin: 0;
}
